.page-description {
  width: auto;
  .description-wrapper {
    width: 1190px;
    margin: 0 auto;
    margin-top: 30px;
    .content-bottom {
      height: auto;
      margin-top: 50px;
      .commodity-detail {
        height: auto;
      }
    }
  }
}
